.main {
    @apply lg:h-screen max-h-screen  overflow-y-hidden;
}

.itemcard {
    @apply absolute;
}

.itemimage {
    @apply  w-full  flex justify-end;

}

.textbox {
    @apply font-serif  md:ml-0 md:w-11/12 xl:w-8/12 xl:ml-24 xl:pl-14 shadow-2xl tracking-tight  sm:px-7 xs:px-5  text-white bg-black border border-gray-200 border-opacity-50 drop-shadow-2xl bg-opacity-60 xl:pb-0 pb-4  py-1;
}

.itemtitlebox {
    @apply py-2 xl:pb-6 pb-4  flex justify-center items-center;
    
}

.partnertitle{
    @apply lg:w-2/3 xl:text-8xl lg:text-7xl md:text-6xl sm:text-4xl xs:text-4xl;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}


.itemdescriptionbox{
    @apply  flex justify-center xl:pb-6 items-center;
}

.partnerdescription{
    @apply lg:w-2/3  lg:text-3xl xs:mx-5  sm:text-lg xs:text-sm text-justify;
}

.responsive {
    @apply bg-none;
}

.content {
    @apply lg:mx-0 xs:mx-0  bg-violet-100  lg:justify-start xs:-mb-2 md:-mb-0  xs:flex xs:justify-start xs:items-center;
}

.item {
    @apply bg-none;
}

